* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #230045; */
  background-color: #060607;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Flexbox Navigation */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #4444448a;
  padding: 1rem;
}

.link-group {
  display: flex;
  gap: 1rem;
}

.link a {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.link a:hover {
  background-color: #555;
}

.link.active a {
  color: #e90e0e; /* Removed redundant padding */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 20px;
}

.hero h1 {
  margin: 0;
  flex-basis: auto;
  margin-bottom: 80px;
}

.hero .logo {
  width: 200px;
  height: 200px;
  margin-top: 0;
}

/* Media Queries */
@media (max-width: 680px) {
  .link-group {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .link-group.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    margin-bottom: 20px;
  }
}

/* h2 */
.h2_title {
  margin-left: 20px;
}
